Source: hamonikr-guest-sseion
Section: admin
Priority: optional
Maintainer: Kevin Kim <root@hamonikr.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: hamonikr-guest-sseion
Architecture: all
Depends: quota
Recommends: 
Description: Guest session settings for HamoniKR
 This programe to provide guest session settings 
 for HamoniKR OS.
 .
